
# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Jenv
.java-version

# Eclipse, STS
.settings/
.classpath
.project
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Visual Studio Code
.vscode/

/HELP.md
